{% extends 'base/create.html' %}

{% block item_heading %}
  Login
{% endblock item_heading %}

{% block item_body %}
      <form action="" method="post">
        {% csrf_token %}
        <div class="propertiesBorderBottom propertiesItemPadding">
          Username: &nbsp;
          <div class="postPropertiesItemFloatRight">
            {{form.username}}
          </div>
        </div>
        <div class="propertiesBorderBottom propertiesItemPadding">
          Password: &nbsp;
          <div class="postPropertiesItemFloatRight">
            {{form.password}}
          </div>
        </div>
        <div class="center">
          <button type="submit" class="fancyButton">Login</button>
        </div>
      </form>
    </div>
  </div>
  <div class="center">
    <a class="linkTextColor" href="{% url 'password_reset' %}">Forgot your password?</a> &nbsp; | &nbsp;
    <a class="linkTextColor" href="{% url 'sign_up' %}">Create Account?</a>
  </div>
{% endblock item_body %}