{% extends 'base/create.html' %}

{% block item_heading %}
  Enter New Password
{% endblock item_heading %}

{% block outside_postBody %}
  <div class="center">
    Please enter your new password and confirm that password.
  </div>
{% endblock outside_postBody %}

{% block item_body %}
  <form action="" method="post">
    {% csrf_token %}
    <div class="propertiesBorderBottom propertiesItemPadding">
      New Password: &nbsp;
      <div class="postPropertiesItemFloatRight">
        {{form.new_password1}}
      </div>
    </div>
    <div class="propertiesBorderBottom propertiesItemPadding">
      Password Confirm: &nbsp;
      <div class="postPropertiesItemFloatRight">
        {{form.new_password2}}
      </div>
    </div>
    <div class="center">
      <button type="submit" class="fancyButton">Reset Password</button>
    </div>
  </form>
{% endblock item_body %}