{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/list.css' %}">
  <link rel="stylesheet" href="{% static 'css/add_new.css' %}">
  <link rel="stylesheet" href="{% static 'css/create.css' %}">
{% endblock %}
{% block navbar %}{% with selected='add_new' %}{{ block.super }}{% endwith %}{% endblock %}

{% block content %}
<div class="postGroupingFlexBox">
  <div class="postGroupingFlexBoxItems">
    <div class="postTitle">
        Forgot password?
    </div>
    <div class="postOverflow">
      <div class="postBody">
        <div class="postGroupingFlexBox">
          <div class="center">
            Please Enter your email and we'll send instructions on how to reset your password:
          </div>
          <div class="postPropertiesFlexBoxItems">
            <form action="" method="post">
              {% csrf_token %}
              <div class="propertiesBorderBottom propertiesItemPadding">
                Email: &nbsp;
                <div class="postPropertiesItemFloatRight">
                  {{form.email}}
                </div>
              </div>
              <div class="center">
                <button type="submit" class="fancyButton">Send Email!</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}