{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/list.css' %}">
  <link rel="stylesheet" href="{% static 'css/add_new.css' %}">
  <link rel="stylesheet" href="{% static 'css/create.css' %}">
{% endblock %}
{% block navbar %}{% with selected='add_new' %}{{ block.super }}{% endwith %}{% endblock %}

{% block content %}
<div class="postGroupingFlexBox">
  <div class="postGroupingFlexBoxItems">
    <div class="postTitle">
      Password Reset Complete
    </div>
    <div class="postOverflow">
      <div class="postBody">
        <div class="postGroupingFlexBox">
          <div class="center">
            Your password has been reset.<br>
            You can now login.
            <a href="{% url "login" %}"><button class="fancyButton">Login</button></a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}