{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/list.css' %}">
  <link rel="stylesheet" href="{% static 'css/add_new.css' %}">
  <link rel="stylesheet" href="{% static 'css/create.css' %}">
{% endblock %}
{% block navbar %}{% with selected='add_new' %}{{ block.super }}{% endwith %}{% endblock %}

{% block content %}
<div class="postGroupingFlexBox">
  <div class="postGroupingFlexBoxItems">
    <div class="postTitle">
      Password Change
    </div>
    <div class="postOverflow">
      <div class="postBody">
        <div class="postGroupingFlexBox">
          <div class="center">
            Please enter your old password and then new password. Then confirm that new password.
          </div>
          <div class="postPropertiesFlexBoxItems">
            <form action="" method="post">
              {% csrf_token %}
              <div class="propertiesBorderBottom propertiesItemPadding">
                Old Password: &nbsp;
                <div class="postPropertiesItemFloatRight">
                  {{form.old_password}}
                </div>
              </div>
              <div class="propertiesBorderBottom propertiesItemPadding">
                New Password: &nbsp;
                <div class="postPropertiesItemFloatRight">
                  {{form.new_password1}}
                </div>
              </div>
              <div class="propertiesBorderBottom propertiesItemPadding">
                New Password Confirm: &nbsp;
                <div class="postPropertiesItemFloatRight">
                  {{form.new_password2}}
                </div>
              </div>
              <div class="center">
                <button type="submit" class="fancyButton">Update Password</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}