{% extends 'base/create.html' %}

{% block item_heading %}
  Sign Up
{% endblock item_heading %}

{% block item_body %}
      <form action="" method="post">
        {% csrf_token %}
        <div class="propertiesBorderBottom propertiesItemPadding">
          Username: &nbsp;
          <div class="postPropertiesItemFloatRight">
            {{form.username}}
          </div>
        </div>
        <div class="propertiesBorderBottom propertiesItemPadding">
          Email Address: &nbsp;
          <div class="postPropertiesItemFloatRight">
            {{form.email}}
          </div>
        </div>
        <div class="propertiesBorderBottom propertiesItemPadding">
          Password: &nbsp;
          <div class="postPropertiesItemFloatRight">
            {{form.password1}}
          </div>
        </div>
        <div class="propertiesBorderBottom propertiesItemPadding">
          Confirm Password: &nbsp;
          <div class="postPropertiesItemFloatRight">
            {{form.password2}}
          </div>
        </div>
        <div class="center">
          <button type="submit" class="fancyButton">Login</button>
        </div>
      </form>
    </div>
  </div>
  <div class="center">
  <a class="linkTextColor" href="{% url 'login' %}">Already have an account?</a>
  </div>

{% endblock item_body %}


{% comment %} {% extends 'base.html' %}
{% load static %}
{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/list.css' %}">
  <link rel="stylesheet" href="{% static 'css/add_new.css' %}">
  <link rel="stylesheet" href="{% static 'css/create.css' %}">
{% endblock %}
{% block navbar %}{% with selected='add_new' %}{{ block.super }}{% endwith %}{% endblock %}

{% block content %}
<div class="postGroupingFlexBox">
  <div class="postGroupingFlexBoxItems">
    <div class="postTitle">

    </div>
    <div class="postOverflow">
      <div class="postBody">
        <div class="postGroupingFlexBox">
          <div class="postPropertiesFlexBoxItems">
      </div>
    </div>
  </div>
{% endblock content %} {% endcomment %}