<div class="leftDetailGrouping">
  <div class="postTitle">
    {{ item_title }}
    <div class="rightPostTitleTextSmall">
      <a class="linkTextColor" href="{% url item_edit item_pk %}">Edit</a>
    </div>
    <div class="postTitleTextSmall">
      Created: {{ item_created }} | Updated: {{ item_updated }}
    </div>
  </div>
    <div class="postOverflow">
      <div class="postBody">
        <div class="postGroupingFlexBox">
          <div class="postGroupingFlexBoxItems">

              {% if story %}
              <a class="linkTextColor" href="{% url "artwork_detail" story.icon.pk %}">
                <img class="postPropertiesFlexBoxItems" src="/media/{{ story.icon.image_link }}">
              </a>
              <div class="">
                <table>
                  <tr>
                    <th>Description</th>
                  </tr>
                  <tr>
                    <td>{{ story.description }}</td>
                  </tr>
                </table>
              </div>

              {% endif %}

              {% if character %}
              <a class="linkTextColor" href="{% url "character_detail" character.pk %}">
                <img class="postPropertiesFlexBoxItems" src="/media/{{ character.char_icon.image_link }}">
              </a>
              <div class="">
                <table>
                  <tr>
                    <th>Age</th>
                    <th>Gender</th>
                    <th>Species</th>
                    <th>Body Type</th>
                    <th>Height</th>
                    <th>Ability</th>
                  </tr>
                  <tr>
                    <td>{% if character.age == 0 %}Immortal{% else %}{{character.age}}{% endif %}</td>
                    <td>{{ character.get_gender_display }}</td>
                    <td>{{ character.get_species_display }}</td>
                    <td>{{ character.get_body_type_display }}</td>
                    <td>{{ character.height_ft }}"</td>
                    <td>{{ character.get_fighting_style_display }}</td>
                  </tr>
                  <tr>
                    <td colspan="2"></td>
                    <td colspan="2">{{ character.species_desc }}</td>
                    <td>{{ character.height_cm }} cm</td>
                    <td>{{ character.fighting_style_desc }}</td>
                  </tr>
                  <tr>
                    <th colspan="6">Notes</th>
                  </tr>
                  <tr>
                    <td colspan="6">{{ character.char_notes }}</td>
                  </tr>
                </table>
              </div>
            {% endif %}

            {% if artwork %}
            <a class="linkTextColor" href="{{artwork.image_link.url}}" target="_blank">
              <img class="postPropertiesFlexBoxItems" src="/media/{{ artwork.image_link }}">
            </a>
            <div class="">
              <table>
                <tr>
                  <th>Creator</th>
                  <th>Art Type</th>
                  <th>Finish Level</th>
                </tr>
                <tr>
                  <td>{{ artwork.creator_name }}</td>
                  <td>{{ artwork.get_art_type_display }}</td>
                  <td>{{ artwork.get_finish_level_display }}</td>
                </tr>
                <tr>
                  <th colspan="3">Description</th>
                </tr>
                <tr>
                  <td colspan="3">{{ artwork.image_description }}</td>
                </tr>
              </table>
            </div>
            {% endif %}

            {% if document %}
              <div class="toolTip">
                <a class="linkTextColor" href="/media/{{document.document_link}}">
                  <div class="toolTipText">Click to download file</div>
                  <img class="postPropertiesFlexBoxItems" src="/media/{{ document.document_image.image_link }}">
                </a>
              </div>
              <table>
                <tr>
                  <th>Creator</th>
                  <td>{{ document.creator_name }}</td>
                </tr>
                <tr>
                  <th colspan="2">Description</th>
                </tr>
                <tr>
                  <td colspan="2">{{ document.document_description }}</td>
                </tr>
              </table>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
