<div class="rightDetailGrouping">
  <div class="postTitle">
    <div class="postTitleTextLarge">
      Includes Characters:
      {% if document.document_characters.all %}
        <div class="rightPostTitleTextSmall">
          <div class="editDeleteTextSmall">
            <a class="linkTextColor" href="{% url "all_document_characters" document.pk %}">See All ({{ document.document_characters.all|length }})</a>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
  <div class="postOverflow">
    <div class="postBody">
      {% if document.document_characters.all %}
          <div class="postGroupingFlexBox">
          {% for character in document.document_characters.all|slice:":5" %}
            <div class="contentGroupingFlexBoxItems">
              <div class="postTitle postTitleTextSmall">
                <a class="linkTextColor" href="{% url "character_detail" character.pk %}">{{ character.first_name|slice:":12" }}</a>
              </div>
              <div class="center">
                <a href="{% url "character_detail" character.pk %}">
                  <img class="contentImage" src="/media/{{ character.char_icon.image_link }}">
                </a>
              </div>
            </div>
          {% endfor %}
        </div>
      {% else %}
          <div class="">There are no Characters associated with this Document.</div>
      {% endif %}
    </div>
  </div>
</div>