{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/list.css' %}">
  <link rel="stylesheet" href="{% static 'css/content_list.css' %}">
{% endblock %}
{% block navbar %}{% with selected='character' %}{{ block.super }}{% endwith %}{% endblock %}

{% block content %}
<div class="postGroupingFlexBox">
  <div class="postGroupingFlexBoxItems">
    <div class="postTitle">
      <a class="linkTextColor" href="{% url "character_detail" character.pk %}">{{ character.first_name }}{% if character.last_name %} {{character.last_name}}{% endif %}</a>
    </div>
    {% if character.character_content.all %}
    <div class="postBody">
      <div class="center">
        {{ character.first_name }}{% if character.last_name %} {{character.last_name}}{% endif %} is associated with {{ character.character_content.all|length }} pieces of Content.
      </div>
    </div>
  </div>
</div>
<div class="postOverflow">
  <div class="postBody">
        <div class="postGroupingFlexBox">
        {% for artwork in character.character_content.all %}
        <div class="postGroupingFlexBoxItems postFlexBoxItemsContent">
          <div class="postTitle">
            <a class="linkTextColor" href="{% url "artwork_detail" artwork.pk %}">{{ artwork.image_title }}</a>
          </div>
          <div class="postOverflow">
            <div class="postBody">
              <div class="center">
                <a href="{% url "artwork_detail" artwork.pk %}">
                  <img class="postPropertiesFlexBoxItems contentImage" src="/media/{{ artwork.image_link }}">
                </a>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
      </div>
  </div>
  {% else %}
  <div class="postOverflow">
    <div class="postBody">
      There are no Stories associated with this Character
    </div>
  </div>
</div>
{% endif %}
</div>
{% endblock content %}