.characterPropertiesFlexBoxItems {
    border: solid 4px var(--mainBG);
    border-radius: 16px;
    background-color: var(--lighterContentBG);
    font-weight: bold;
    width: 250px;
    height: 250px;
    margin: 2px;
}
.characterPropertiesItemPadding {
    padding: 8px;
    display: flex;
}

.center {
    justify-content: center;
    flex-grow: 1;
    padding: 0px 6px 0px;
}

.characterPropertiesItemFloatRight {
    font-weight: normal;
    text-align: right;
    flex-grow: 1;
}