/* CSS for *_detail.html templates */

/* For the info box on the left side of all detail pages */
.leftDetailGrouping {
    border-radius: var(--contentBorderRad);
    background-color: var(--contentBG);
    padding: 2px;
    width: 49%;
    margin: 20px auto 20px;
    float: left;
}

/* For the 'includes' boxes that stack on eachother on right side of detail pages */
.rightDetailGrouping {
    border-radius: var(--contentBorderRad);
    background-color: var(--contentBG);
    padding: 2px;
    width: 49%;
    margin: 20px auto 20px;
    float: right;
}

/* For subtitile on left side and the Content titles for items in the right side */
.postTitleTextSmall {
    font-size: 16px;
    /* font-weight: normal; */
}

/* For the tiny Edit/See All text on the right side of the titles on each box */
.rightPostTitleTextSmall {
    font-size: 14px;
    float: right;
    padding: 8px;
}

/* This is used in the right two partials for Content / Characters / Stories */
.contentGroupingFlexBoxItems {
    border: solid 2px var(--mainBG);
    border-radius: var(--contentBorderRad);
    background-color: var(--lighterContentBG);
    padding: 2px;
    width: 120px;
    margin: 4px auto 4px;
}


/* Modifying to better display the left flexbox's content */
.postGroupingFlexBoxItems {
    /* border: solid 4px var(--contentHeading);
    background-color: var(--lighterContentBG);
    font-weight: bold;
    padding: 2px; */
    /* width:100%; */
    /* min-height: 400px;
    max-height: 720px; */
    /* overflow-y: scroll;
    margin: 20px auto 20px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.postBottomItem {
    border: solid 4px var(--contentHeading);
    background-color: var(--lighterContentBG);
    font-weight: bold;
    padding: 2px;
    align-items: center;
    justify-content: center;
}

/* Modifies content of flex box tiny character/content images on right side */
.contentImage {
    border: solid 4px var(--contentHeading);
    border-radius: var(--contentBorderRad);
    width: 100px;
    height: 100px;
    margin: 7px auto 0px;
}

/* For the image in the left box */
.postPropertiesFlexBoxItems {
    object-fit: cover;
    /* margin: auto; */
    width: 100%;


}

table {
    border-collapse: collapse;

}
th, td {

    border: solid 2px var(--mainBG);
    text-align: center;
    padding: 4px 10px 3px;
}

th {
    background-color: var(--contentHeading);
}

td {
    background-color: var(--lighterContentBG);
}

.toolTip {
    position: relative;
  }

.toolTip .toolTipText {
    border: solid 2px var(--text);
    border-radius: var(--contentBorderRad);
    background-color: var(--lighterContentBG);
    visibility: hidden;
    text-align: center;
    padding: 5px;
    position: absolute;
}

.toolTip:hover .toolTipText {
    visibility: visible;
}

/* .postPropertiesItemPadding {
    padding: 8px;
    display: flex;
} */

