{% extends 'partials.html' %}

{% block item_heading %}
Content List
  {% if content_list %}
    <div class="rightPostTitleTextSmall">
      <a class="linkTextColor" href="{% url "all_character_content" character.pk %}">See All ({{content_list|length }})</a>
    </div>
  {% endif %}
{% endblock item_heading %}

{% block item_body %}
  {% if content_list %}
    <div class="postGroupingFlexBox">
      {% for content in content_list|slice:":5" %}
        <div class="contentGroupingFlexBoxItems">
          <div class="postTitle postTitleTextSmall">
            <a class="linkTextColor" href="{% url "artwork_detail" content.id %}">{{ content.title|slice:":12" }}</a>
          </div>
          <div class="center">
            {% if content.image_link %}
            <a href="{% url "artwork_detail" content.id %}">
              <img class="contentImage" src="/media/{{ content.image_link }}">
            </a>
            {% else %}
            <a href="{% url "document_detail" content.id %}">
              <img class="contentImage" src="#">
              </a>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
  {% else %}
  <div class="">There is no Content associated with this Character.</div>
  {% endif %}
{% endblock item_body %}