{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/list.css' %}">
  <link rel="stylesheet" href="{% static 'css/detail.css' %}">
{% endblock %}
{% block navbar %}{% with selected='artwork' %}{{ block.super }}{% endwith %}{% endblock %}

{% block content %}
    <div class="leftDetailGrouping">
      <div class="postTitle">
          {{ document.title }}
          <div class="rightPostTitleTextSmall">
            <a class="linkTextColor" href="{% url "edit_document" document.pk %}">Edit</a>
          </div>
        <div class="postTitleTextSmall">
          Created: {{ document.created }} | Updated: {{ document.updated }}
        </div>
      </div>
      <div class="postOverflow">
        <div class="postBody">
          <div class="postGroupingFlexBox">
            <div class="postGroupingFlexBoxItems">
              <div class="propertiesBorderBottom propertiesItemPadding">
                Creator: &nbsp;
                <div class="postPropertiesItemFloatRight">
                  {{ document.creator_name }}
                </div>
              </div>
              <div class="propertiesItemPadding">
                Description: &nbsp;
                <div class="postPropertiesItemFloatRight">
                  {{ document.document_description }}
                </div>
              </div>
            </div>
            <a class="linkTextColor" href="{{document.upload.url}}" target="_blank">
              <img class="postPropertiesFlexBoxItems" src="#">
            </a>
          </div>
        </div>
      </div>
    </div>

    {% include "partials/_document_character_list.html" %}
    {% include "partials/_document_story_list.html" %}

  </div>
{% endblock content %}