{% extends 'base/base.html' %}
{% load static %}
{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/add_new.css' %}">
{% endblock %}
{% block navbar %}{% with selected='add_new' %}{{ block.super }}{% endwith %}{% endblock %}

{% block content %}
<div class="postGroupingFlexBox">
  <div class="postGroupingFlexBoxItems">
    <div class="postTitle">
        Choose Content
    </div>
    <div class="postBody">
      <div class="center">
        What type of Content would you like to add?
      </div>
    </div>
  </div>
</div>
  <div class="postGroupingFlexBox">
    <div class="postGroupingFlexBoxItems">
      <div class="postTitle">
          Artwork
      </div>
      <div class="postOverflow">
        <div class="postBody">
          <div class="postGroupingFlexBox">
            <div class="postGroupingFlexBoxItems">
              <a href="{% url "add_artwork" %}"><button class="fancyButton">Add Artwork</button></a>
            </div>
          </div>
        </div>
      </div>
    </div>

      <div class="postGroupingFlexBoxItems">
        <div class="postTitle">
            Document
        </div>
        <div class="postOverflow">
          <div class="postBody">
            <div class="postGroupingFlexBox">
              <div class="postGroupingFlexBoxItems">
                <a href="{% url "add_document" %}"><button class="fancyButton">Add Document</button></a>
              </div>
            </div>
          </div>
        </div>
      </div>

{% endblock content %}