{% extends 'base/create.html' %}

{% block item_heading %}
  Create Artwork
{% endblock item_heading %}

{% block item_body %}
  <form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="propertiesBorderBottom propertiesItemPadding">
      Display Image: &nbsp;
      <div class="postPropertiesItemFloatRight">
        {{ form.image_link }}
      </div>
    </div>
    <div class="propertiesBorderBottom propertiesItemPadding">
      Art Type: &nbsp;
      <div class="postPropertiesItemFloatRight">
        {{ form.art_type }}
      </div>
    </div>
    <div class="propertiesBorderBottom propertiesItemPadding">
      Finish Level: &nbsp;
      <div class="postPropertiesItemFloatRight">
        {{ form.finish_level }}
      </div>
    </div>
    <div class="propertiesBorderBottom propertiesItemPadding">
      Creator: &nbsp;
      <div class="postPropertiesItemFloatRight">
        {{ form.creator_name }}
      </div>
    </div>
    <div class="propertiesBorderBottom propertiesItemPadding">
      Artwork Title: &nbsp;
      <div class="postPropertiesItemFloatRight">
        {{ form.title }}
      </div>
    </div>
    <div class="propertiesBorderBottom propertiesItemPadding">
      Description: &nbsp;
      <div class="postPropertiesItemFloatRight">
        {{ form.image_description }}
      </div>
    </div>
    <div class="propertiesBorderBottom propertiesItemPadding">
      Includes Characters: &nbsp;
      <div class="postPropertiesItemFloatRight">
        {{ form.content_characters }}
      </div>
    </div>
    <div class="propertiesBorderBottom propertiesItemPadding">
      Includes Stories: &nbsp;
      <div class="postPropertiesItemFloatRight">
        {{ form.content_stories }}
      </div>
    </div>
    <div class="center">
      <button type="submit" class="fancyButton">Create</button>
    </div>
  </div>
{% endblock item_body %}