{% extends 'base/create.html' %}

{% block item_heading %}
  Create a Story
{% endblock item_heading %}

{% block item_body %}
  <form action="" method="post">
    {% csrf_token %}
    <div class="propertiesBorderBottom propertiesItemPadding">
      Display Image: &nbsp;
      <div class="postPropertiesItemFloatRight">
        {{ form.icon }}
      </div>
    </div>
    <div class="propertiesBorderBottom propertiesItemPadding">
      Story Title: &nbsp;
      <div class="postPropertiesItemFloatRight">
        {{ form.title }}
      </div>
    </div>
    <div class="propertiesBorderBottom propertiesItemPadding">
      Description: &nbsp;
      <div class="postPropertiesItemFloatRight">
        {{ form.description }}
      </div>
    </div>
    <div class="propertiesBorderBottom propertiesItemPadding">
      Includes Characters: &nbsp;
      <div class="postPropertiesItemFloatRight">
        {{ form.story_characters }}
      </div>
    </div>
    <div class="propertiesBorderBottom propertiesItemPadding">
      Includes Artwork: &nbsp;
      <div class="postPropertiesItemFloatRight">
        {{ form.story_content }}
      </div>
    </div>
    <div class="center">
      <button type="submit" class="fancyButton">Create</button>
    </div>
  </form>
{% endblock item_body %}