{% extends 'base/create.html' %}

{% block item_heading %}
  Edit Document
  <div class="rightPostTitleTextSmall">
    <a class="linkTextColor" href="{% url "delete_document" document.pk %}">Delete</a>
  </div>
{% endblock item_heading %}

{% block item_body %}
  <form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="propertiesBorderBottom propertiesItemPadding">
      Document file: &nbsp;
      <div class="postPropertiesItemFloatRight">
        {{ form.document_link }}
      </div>
    </div>
    <div class="propertiesBorderBottom propertiesItemPadding">
      Creator: &nbsp;
      <div class="postPropertiesItemFloatRight">
        {{ form.creator_name }}
      </div>
    </div>
    <div class="propertiesBorderBottom propertiesItemPadding">
      Title: &nbsp;
      <div class="postPropertiesItemFloatRight">
        {{ form.title }}
      </div>
    </div>
    <div class="propertiesBorderBottom propertiesItemPadding">
      Description: &nbsp;
      <div class="postPropertiesItemFloatRight">
        {{ form.document_description }}
      </div>
    </div>
    <div class="propertiesBorderBottom propertiesItemPadding">
      Includes Characters: &nbsp;
      <div class="postPropertiesItemFloatRight">
        {{ form.document_characters }}
      </div>
    </div>
    <div class="propertiesBorderBottom propertiesItemPadding">
      Includes Stories: &nbsp;
      <div class="postPropertiesItemFloatRight">
        {{ form.document_stories }}
      </div>
    </div>
    <div class="center">
      <button type="submit" class="fancyButton">Create</button>
    </div>
  </form>
{% endblock item_body %}